@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


.certificates
{
    margin-top:21vh ;
    display: flexbox;
    flex-wrap: wrap;
    font-family: 'Rubik', sans-serif;
    padding: 10px;
      
}
.certificate
{
   display: flex;
   flex-wrap: wrap; 
   margin-left: 1.4em;   
}

p{
    padding:10px;
    text-align: center;
    font-weight: bold;
    justify-content: center; 
}

.certificate1,.certificate2,.certificate3,.certificate4,.certificate5,.certificate6,.certificate7{
    display: flex;
    width: 43vw;
    text-align: center;
    background-color:#c9e3ff;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px grey;
}
::-webkit-scrollbar{
    width: 11px;
    height:5vw;
}
::-webkit-scrollbar-track
{
    border-radius: 11px;
    background: rgb(255, 0, 0);
    
}
::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 11px;

}

