body{
    background-image:radial-gradient(white,rgb(157, 240, 255),rgb(236, 243, 255),rgb(0, 229, 255),rgb(236, 243, 255),rgb(157, 240, 255),rgb(236, 243, 255),rgb(157, 240, 255),rgb(236, 243, 255)); 
    overflow-x: hidden; overflow-y: scroll;
}
hr{
    height:0.2em;
    background-color: rgb(51, 51, 51);
    border-radius: 20px;
}
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 35
}
.VZ{
    margin:0.1% 25% 0.1% 25% ;
    width:50%;
    position: sticky;
}
.VZ img{
    height:1.5em;
    width:1.5em;
    vertical-align: middle;
    border-radius: 50%; 
    border:2px solid black;
    transition: height 20ms widht 20ms;
}
#navbtn:hover{
    border-color: aqua;
    border-width: 0.8mm;
    color: black;
}
#navbtn:active{
    transform: translateY(2px);
}
.navigation a,.Social a{
    color: black;
    padding:3px 0 3px 0;
    text-decoration: none;
    display: block;
}
#musicdiv{
    display: flex;
    position: sticky;top:0;
    flex-direction: column;
    width:100%;
    align-items: center;
    justify-content: center;
    
}

.equlizer button:active{
    transform: translateY(2px);
}
#audioplayer{
    display:flex;
    flex-direction: column; 
    border-radius: 20px;
    padding:0.1%;
    background-image:url(images/musicDbg.jfif);
}
#musicbox{
    display:flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    width:99.8%;
    border-radius: 10px;
    margin:0.5% 0 0 0;
    overflow: hidden;
}
#playlistbox{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 183, 255, 0.351);
    width:50%;
    height:20vw;
    border-radius: 10px;
    padding:1.5% 1% 1.5% 1%;
    margin:1%;
    overflow-y: scroll;
}
#playlistbutton{
    display: none;
    background-color: deepskyblue;
    width:40px;
    height:40px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    border-radius: 0 0 0 10px;
    justify-content:center;
    justify-items:center;
    padding:2%;
}
#music{
    display: flex;
    flex-direction: row;
    margin:3px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    padding:2%;
    align-items: center;
    align-content:space-evenly;
    width:80%;
}
#music:hover{
    border-radius: 0px;
    margin:3px;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    font-weight: bolder;
    border-left: 10px solid;
    border-image: linear-gradient(rgb(0, 157, 255),rgb(23, 108, 255),blue)10;
    box-shadow: 0 0 3px 3px rgba(128, 128, 128, 0.382);
}
#equilizer{
    width:50%;
    height:fit-content;
    align-self: center;
    background-color: rgba(0, 183, 255, 0.5);
    padding:1.5% 1% 1.5% 1%;
    align-self:center;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    justify-self: center;
    overflow: hidden;
    margin:1%;
}
#equilizer img{
    border-radius: 20px;
    width:40vw;
    height:20vw;
    box-shadow: 0 0 3px 3px rgba(128, 128, 128, 0.622);
}
::-webkit-scrollbar,::-webkit-scrollbar-track{
    display:none;
    background-color: transparent;
}
#controlscontainer{
    display:flex;
    margin:0.25%;
    flex-direction: column;
    align-self: center;
    padding: 0.5%;
    align-content: center;
    align-items: center;
    border-radius: 20px;
   
}
#controls,#volumectrl,#timer{
    display:flex;
    flex-direction: row;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    
}
#controls{
    width:80%;
    margin:0.25%;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
}
#controlscontainer{
    width:80%;
    margin:0.25%;
    border:2px solid rgb(0, 191, 255);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.827);
    position: sticky;
    bottom:5px;
    float: center;
    
}

#play,#pause,#back,#forward,#voln,#mute,#volval{
    float: left;
    margin:0.3%;
    padding:0.25%;
    cursor: pointer;
    background-color: rgb(45, 168, 255);
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content:center;
    font-weight: bold;
    width:25px;
    height:25px;
    
}
#play:hover,#pause:hover,#back:hover,#forward:hover,#voln:hover,#mute:hover{
    
    border-radius: 50%;
    box-shadow: 0 0 3px 3px rgba(128, 128, 128, 0.622);
}
#volumectrl{
    float: right;
    right:0;
    padding:0.5%;
    border-radius: 0 10px 10px 0;

}
#progress{
    width:80%;
    height:3px;
    margin: 15px;
    cursor: pointer;
    position: static;
    accent-color: rgb(0, 170, 243);
}
#progress:hover{
    height:5px;
    cursor: pointer;
}
#volslider{
    width:100px;
    transition: width 150ms ease-in-out;
    cursor: pointer;
    accent-color: rgb(0, 170, 243);

}
#musicname{
    width:40vw;
    padding:0.5vw;
}

#marqueediv{
    float: left;
    margin:0.1vw;
    padding:0.25vw;
    cursor: pointer;
    background-color: rgb(45, 168, 255);
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content:center;
    font-weight: bold;
    height:25px;
}
#timer{
    float: left;
    margin:0.1vw;
    padding:0.25vw;
    cursor: pointer;
    background-color: rgb(45, 168, 255);
    padding: 7px;
    border-radius: 10px 5px 5px 10px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content:center;
    font-weight: bold;
    width:fit-content;
    height:25px;
}
#audioname,#LogoM,#emoji{
    margin:3px 5px 3px 5px ;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0));
}
#LogoM img{
    width:2em;
    height:2em;  
}
@media screen and (max-width:350px){
    #timer{
        border-radius: 5px;
    }
    #marqueediv{
        width:75%;
        height:25px;
    }
    .material-symbols-rounded {
        font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 10;
        text-align: center;
      }
    *{
        font-size: 12px;
    }
    body{
        text-align: center;
    }
    #musicdiv{
        width:98%;
        height:75vh;
        background: url(images/musicDbg.jfif);
    }
    ::-webkit-scrollbar,::-webkit-scrollbar-track{
        display:none;
        background-color: transparent;
    }
    #musicbox{
        display:flex;
        flex-direction: column;
        height: 75vh;
    }
    #playlistbox{
        display:none;
        position: absolute;
        margin:1%;
        width:90%;
        height:40vh;
        left:5%;
        background-color: rgb(161, 235, 255);
        z-index: 5;

    }
    #playlistbutton{
        display:block;
        position: fixed;
        top:0;
        right:0;
        cursor: pointer;
    }
    #music{
        background-color:transparent ;
    }
    
    .VZ{
        position:sticky;
        top:0;
        margin-top:4%;
    }
    #volslider{
        display: none;
        width:100px;
        transition: width 250ms ease-in-out;
    }
    #volumectrl:hover  #volslider{
        display:block;
    }
    #equilizer{
        width:98%;
        height:fit-content;
        align-self: center;
        padding:0.5%;
        overflow: hidden;
        margin:1% 0.5% 1% 0.5% ;
    }
    #equilizer img{
        border-radius: 20px;
        width:96vw;
        height:40vh;
    }
    #progress{
        width:95%;
    }
    #controls{
        width:98%;
        border-radius: 5px;
        flex-wrap: wrap;

    }
   #playlistbox ::-webkit-scrollbar{
        width:5px;
        height:3px;
        border-radius: 0 2.5px 2.5px 0;
    }
    #playlistbox ::-webkit-scrollbar-thumb{
        background-color: blue;
    }
    #playlistbox ::-webkit-scrollbar-track{
        background-color: rgba(110, 214, 255, 0.5);
        border-radius: 0 3px 3px 0;
    }
    #controlscontainer{
        width:99%;
        padding:0.5%;
        z-index: 2;
        position: sticky;
        bottom:0;
    }
}
 

@media screen and (min-width:350px) and (max-width:1000px) {
    #musicdiv{
        width:100%;
        height:80vh;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
    }
    #musicbox{
        display:flex;
        width:100%;
        flex-direction: column;
        background: none;
        height: 75vh;
        background: url(images/musicDbg.jfif) no-repeat;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
    }
    #playlistbox{
        display:none;
        position: absolute;
        margin:1%;
        width:90%;
        height:40vh;
        left:5%;
        background-color: rgb(161, 235, 255);
        z-index: 5;

    }
    #playlistbutton{
        display:block;
        position: fixed;
        top:0;
        right:0;
        cursor: pointer;
    }
    #play,#pause,#back,#forward,#voln,#mute,#volval{
        float: left;
        margin:0.3%;
        padding:0.25%;
        cursor: pointer;
        background-color: rgb(45, 168, 255);
        padding: 7px;
        border-radius: 5px;
        text-align: center;
        vertical-align: middle;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content:center;
        font-weight: bold;
        width:25px;
        height:25px;
    }
    #music{
        background-color:transparent ;
    }
    
    .VZ{
        position:sticky;
        top:0;
        margin-top:4%;
    }
    #volslider{
        display: none;
        width:50px;
        transition: width 250ms ease-in-out;
    }
    #volumectrl:hover  #volslider{
        display:block;
    }
    #equilizer{
        width:99%;
        height:fit-content;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content:center;
        padding:1%;
        overflow: hidden;
        margin:1% 0.5% 1% 0.5% ;
    }
    #equilizer img{
        border-radius: 20px;
        width:96vw;
        height:40vh;
    }
    #progress{
        width:99%;
    }
    #controls{
        width:99%;
        border-radius: 5px;
        
    }
    #controlscontainer{
        width:95%;
        padding:0.5%;
        z-index: 2;
    }
    #playlistbox ::-webkit-scrollbar{
        width:5px;
        height:3px;
        border-radius: 0 2.5px 2.5px 0;
    }
    #playlistbox ::-webkit-scrollbar-thumb{
        background-color: blue;
    }
    #playlistbox ::-webkit-scrollbar-track{
        background-color: rgba(110, 214, 255, 0.5);
        border-radius: 0 3px 3px 0;
    }
}