
.project{
    display:flexbox;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    margin-top: 21vh;
    margin-right: 20px;
    border-radius: 15px;
  
    border: 3px gradient;   
}
.projects{
    align-self: center;
    display:flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    border-radius: 15px;
    margin-left: 1.4em;
    padding: 10px;
    border: 3px gradient; 
    text-align: center;  
}
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-track
{
    border-radius: 10px;
    background: rgb(80, 85, 255);
    
}
::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 11px;

}
.project1,.project2,.project3,.project4,.project5,.project6{
    align-self: center;
    background-color: #c4e0ff;
    padding: 10px;

    text-align: center;
    margin: 20px;
    border-radius: 30px;
    width: 43vw;
    box-shadow: 3px 3px 5px grey;
    word-wrap: break-word;
}
.project img{
    margin:1em;
    border-radius: 15px;
    border-width: 3px;
    width:35vw;
    height:20vw;
    border: 1.5mm solid;
    border-color: rgb(121, 60, 121);
    
}
.project figcaption{
    
    color: rgb(0, 16, 194);
    font-family: cursive;
    
}


a{
    text-decoration: none;   
}
.videoPreview{
    text-align: center;
    display: flexbox;
    vertical-align: middle;
    background-color:#b8daff;
    border-radius: 80px;
    margin-top:5em;
    margin-left:1em;
    padding:1em;
    box-shadow: 3px 3px 5px grey;
    
}

#projectVideo{
    margin:10px;
    border-radius: 30px;
    box-shadow: 5px 5px 8px rgb(111, 111, 111);
    width: 44.6vw;
    height:25vw;
}
@media screen and (max-width:770px) {
    body{
        text-align: center;
    }
    .project{
        margin-top: 0.4em;
    }
    .Social{
        width:20vw;
        height:fit-content;
    }
    .socialButtons{
        width:18vw;
        height:fit-content;
    }
    .socialButtons button{
        width:15vw;
        height:fit-content;
        padding: 0.3vw;

    }
    .socialButtons button:hover{
        width:15vw;
        height:fit-content;
        padding: 0.3vw;

    }
    .socialButtons:hover{
        width:18vw;
        height:fit-content;
    }
}
