@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://colorhunt.co/palette/b1b2ffaac4ffd2daffeef1ff');
*{
    margin: 0px;
    padding:0px;
}
body{
    background-image: radial-gradient(rgb(40, 40, 40),rgb(66, 66, 66), rgb(100, 100, 100));
    background-image: url(images/VideoPlay\ BG.png);
    
}
hr{
    height:0.2em;
    background-color: aliceblue;
    border-radius: 20px;
}
.VZ{
    margin: 0.5vw;
    width: 99vw;
}
.ham{
    margin:0.5vw;
    display: relative;
    text-align: center;
    width:3em;
    height:4em;
    padding: 0.3em;
    transition: height 20ms widht 20ms;
    background-color: aliceblue;
    border-radius:2em ;
    
}

.navigation {
    display: none;
    position: absolute;
    background-color: azure;
    min-width: 160px;
    padding: 0.3em;
    text-align:center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 20px 20px 20px 20px;
}
.videoPreview1{
    text-align: center;
    width:87vw;
    height:80vh;
    vertical-align: middle;
    margin-left:1.5vw;
    align-content: center; 
}
.topstrip{
    
    display:flex; 
}


#screen{
    
    border-radius:5px;
    width:80vw;
    height:80vh;
    border:solid 1mm blanchedalmond ;
    
}
.navigation img,.ham img{
    height:1.5em;
    width:1.5em;
    vertical-align: middle;
    border-radius: 50%; 
    border:2px solid black;
    transition: height 20ms widht 20ms;
}
.VZ img{
    height:1.5em;
    width:1.5em;
    vertical-align: middle;
    border-radius: 50%; 
    border:2px solid black;
    transition: height 20ms widht 20ms;
}
.ham:hover+.navigation{
    display:inline-block;
    transition: height 20ms widht 20ms;
}
.navigation:hover{
    display: block;
    background-color: rgba(240, 248, 255, 0.842);
    padding: 0.3em;
    text-align:center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;

}
button{
    
    width:8.9em;
    height:5em;
    padding: 0.01em;
    border-radius: 5px 20px 5px 20px;
    word-wrap:break-word;
    font-family: 'DynaPuff', cursive;
    font-size:12px;
    border-color: rgb(255, 43, 43);
    background-color: rgb(255, 255, 255);
    transition: width 1ms, height 1ms, background-color 1ms,border-color 1ms ;
    color: blue;
}
button:hover{
    background-color: rgb(255, 139, 139);
    border-color: aqua;
    border-width: 0.8mm;
    color: black;
}
.navigation button:active{
    transform: translateY(2px);
}
.navigation a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

li{
    list-style-type: none;
    margin-left: 1em;
}
embed{
    border-radius:5px;
    width:80vw;
    height:80vh;
    border:solid 1mm blanchedalmond ;
}

.Social{
    display: relative;
   
}

.socialButtons {
    display: none;
    height: fit-content;
    position: absolute;
    background-color: rgba(255, 19, 19, 0.722);
    padding: 0.1em;
    text-align:center;
    border: 2px black solid;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    border-radius: 20px 20px 20px 20px;
}
.Social:hover .socialButtons{
    display:inline-flex;
    
    transition: display 20ms;
    
}
.socialButtons:hover{
    display: inline-flex;
    position:absolute;
    background-color: rgba(255, 36, 36, 0.712);
    padding: 0.1em;
    text-align:center;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 5;
    
}
.socialButtons img{
    border-width: 1px;
    border-color: aliceblue;
}


